<div class="image-carousel">
  <button type="button" class="image-carousel-button image-carousel-prev">Previous</button>
  <button type="button" class="image-carousel-button image-carousel-next">Next</button>
  {{#each this }}
    <div>
      <a class='fancybox' href='{{ largeUrl }}'>
        <img src='{{ url }}' alt='{{id}}'/>
      </a>
    </div>
  {{/each }}
</div>
