<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Collective Archive</a>
    </div>

    <div class="col-xs-12 col-sm-6 pull-right">
      <form class="navbar-form" role="search" action="/search">
        {{> _search}}
      </form>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/testimonials">Testimonials</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
