<h1>{{ displayName }}</h1>

<div class='row'>
  Material: {{ material }}
</div>

<div class='row'>
  Measurements: {{ measurements }}
</div>

<h4>Images:</h4>
{{> _images representations }}

<h4>Related:</h4>
{{> _relationships relationships }}
