<div class="input-group">
  <div class="input-group-btn">
    <button class="btn btn-default search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </div>
  <input type="text" class="form-control" placeholder="Search art and artists" name="q" id="search-input" autocomplete="off" required>
</div>
