<div class="input-group ca-search-group">
  <span class="input-group-btn">
    <button class="btn btn-default search ca-search-btn" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
  <input type="text" class="form-control ca-search-input" placeholder="Search art and artists" name="q" id="search-input" autocomplete="off" required>
</div>
