<ul class="list-inline">
  <li>
      <p>Share:</p>
  </li>
  <li>
      <a href="#" class="btn-social social-facebook btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
  </li>
  <li>
      <a href="http://twitter.com/share" class="btn-social social-twitter btn-outline" data-count="vertical"><i class="fa fa-fw fa-twitter"></i></a>
  </li>
  <li>
      <a href="http://tumblr.com/share" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
  </li>
  <li>
      <a href="" class="btn-social social-pinterest btn-outline"><i class="fa fa-fw fa-pinterest"></i></a>
  </li>
</ul>
