{{!-- <a class="btn btn-default" href="#top">Twitter</a> --}}
<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="{{ currentURL }}">Tweet</a>
<a class="btn btn-default" href="#top">Facebook</a>
<a class="btn btn-default" href="#top">Tumblr</a>
