<ul class="list-inline">
	<li>
	    <p>Share:</p>
	</li>
	<li>
	    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
	</li>
	<li>
	    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
	</li>
	<li>
	    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
	</li>
	<li>
	    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-pinterest"></i></a>
	</li>
</ul>