<a class="btn btn-default twitter" id="sm-twitter" href="http://twitter.com/share" data-count="vertical">Tweet</a>
<a class="btn btn-default" id="sm-facebook">Facebook</a>
<a class="btn btn-default" href="http://www.tumblr.com/share">Tumblr</a>
