<section>
	<div class="container">
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h1>Preserving Pittsburgh Art&mdash;For All</h1>
				<p class="lead">Collective Archive documents the people, places, and work in Pittsburgh’s art scene. We focus on small and emerging artists, organizations, and spaces so we can tell a complete story of the art scene at any point in time.</p>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Archiving Process</h2>
				<p>Description coming soon.</p>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Team</h2>
				<p>We’re a ragtag group of artists, archivists, and developers dedicated to preserving Pittsburgh art.</p>
				<div class="row">
					<div class="col-sm-6">
						<p><a href="http://alexandraoliver.wix.com/home" target="_blank">Alexandra Oliver</a>, Project Director</p>
						<p><a href="https://twitter.com/seejee" target="_blank">Chris Geihsler</a>, Technical Advisor</p>
						<p><a href="https://twitter.com/liumonade" target="_blank">Jenny Liu</a>, Project Manager</p>
					</div>
					<div class="col-sm-6">
						<p><a href="http://rebeccaselah.com/" target="_blank">Rebecca Selah</a>, Designer</p>
						<p><a href="https://twitter.com/tanooki_mario" target="_blank">Mario Signore</a>, Developer</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Partners</h2>
				<p>Collective Archive wouldn't be possible without the generous support of the following organizations:</p>
				<div class="row">
					<div class="col-sm-6">
						<p><a href="#" target="_blank">Art Articulate</a></p>
						<p><a href="#" target="_blank">The Beauty Shoppe</a></p>
						<p><a href="#" target="_blank">The Mine Factory</a></p>
						<p><a href="#" target="_blank">Nearby Initiatives</a></p>
					</div>
					<div class="col-sm-6">
						<p><a href="#" target="_blank">Radiant Hall</a></p>
						<p><a href="#" target="_blank">Six x Ate</a></p>
						<p><a href="#" target="_blank">University of Pittsburgh</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Get Involved</h2>
				<p>We're always looking for new partners and collaborators. Wanna work with us? <a href="/contact">Reach out.</a></p>
			</div>
		</div>
	</div>
</section>