<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive" src="/assets/images/archiv.jpg">
          <h1>Preserving Pittsburgh's Art Scene&mdash;For All</h2>
        <p class="lead">Collective Archive documents the people, places, and work in Pittsburgh’s art scene. We focus on small and emerging artists, organizations, and spaces so we can tell a complete story of the art scene at any point in time.</p>
      </div>
    </div>
  <!--<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Archiving Process</h2>
        <p>Description coming soon.</p>
      </div>
    </div>-->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Technology</h2>
        <p>The Archive is built on <a href="http://www.collectiveaccess.org/" target="_blank">Collective Access</a>, an open-source, cloud-based software for managing and publishing museum and archival collections.</p>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Team</h2>
        <p>We’re artists, archivists, and developers passionate about Pittsburgh art.</p>
        <div class="row">
          <div class="col-sm-6">
            <p><a href="http://alexandraoliver.wix.com/home" target="_blank" >Alexandra Oliver</a>, Project Director</p>
            <p><a href="https://twitter.com/seejee" target="_blank">Chris Geihsler</a>, Technical Advisor</p>
            <p><a href="https://twitter.com/liumonade" target="_blank">Jenny Liu</a>, Project Manager</p>
          </div>
          <div class="col-sm-6">
            <p><a href="http://beccaselah.com/" target="_blank">Becca Selah</a>, Designer</p>
            <p><a href="https://twitter.com/tanooki_mario" target="_blank">Mario Signore</a>, Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Partners</h2>
        <p>Thank you to the following organizations for their generous support:</p>
        <div class="row">
          <div class="col-sm-6">
            <p><a href="http://pittsburgharticulate.com/" target="_blank">Art Articulate</a></p>
            <p><a href="http://www.thebeautyshoppe.org/" target="_blank">The Beauty Shoppe</a></p>
            <p><a href="http://minefactory.tumblr.com/" target="_blank">The Mine Factory</a></p>
            <p><a href="https://www.facebook.com/NearbyInitiatives" target="_blank">Nearby Initiatives</a></p>
          </div>
          <div class="col-sm-6">
            <p><a href="http://radianthall.com/" target="_blank">Radiant Hall</a></p>
            <p><a href="https://www.facebook.com/pages/SIX-x-ATE-Artist-DinnerLecture-Series/342436632533673" target="_blank">Six x Ate</a></p>
            <p><a href="http://www.pitt.edu/" target="_blank">University of Pittsburgh</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Community Testimonials</h2>
        <p>Read what the <a href="/testimonials">Pittsburgh arts community is saying</a> about our project.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Get Involved</h2>
        <p>We're always looking for new partners and collaborators. <a href="/contact">Reach out if you're interested.</a></p>
      </div>
    </div>
  </div>
</section>
