<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Email</h2>
        <p><a href="mailto:alexandra.oliver@gmail.com" target="_blank">alexandra.oliver@gmail.com</a></p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Phone</h2>
        <p><a href="tel:+14125123860">412 512 3860</a></p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <h2>Address</h2>
        <p>Collective Archive<br />
        4514 Plummer Street<br />
        Lawrenceville, PA 15201<br /></p>
        <p>(Inside <a href="http://radianthall.com/" target="_blank">Radiant Hall</a>)</p>
      </div>
    </div>
  </div>
</section>
