<section>
	<div class="container">
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h1>Contact Us</h1>
				<p class="lead">Don't be shy. We'd love to answer your questions and hear your ideas.</p>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Email</h2>
				<p>alexandra.oliver@gmail.com</p>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Phone</h2>
				<p>412.512.3860</p>
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
				<h2>Carrier Pigeon</h2>
				<p>Collective Archive<br />
				4514 Plummer Street<br />
				Lawrenceville, PA 15201<br /></p>
				<p>(Inside <a href="http://radianthall.com/" target="_blank">Radiant Hall</a>)</p>
			</div>
		</div>
	</div>
</section>