<div class='hero-container'>
  <div class='container'>
    <div class="row">
      <div class="col-md-12 text-center explore-container">
        <div class="slider-image"></div>
        <div class="explore">
          <h1>Explore Pittsburgh Art</h1>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <form role="search" action="/search">
                <div class="input-group index-search">
                  <span class="input-group-btn">
                    <button class="btn btn-default search ca-search-btn" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                  <input type="text" class="form-control" placeholder="Search for Pittsburgh's Art and Artists" name="q" id="search-input" autocomplete="off" required>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<section class="text-center about-container">
  <div class="about-header">
    <h2>The Pittsburgh Collective Archive</h2>
    <p>
      We aim to support small and emerging arts organizations, spaces, curators and
      individual creators by documenting and showcasing their activities.
    </p>
  </div>
</section>

<section class="featured-container">
  <div class="container">
    {{#chunk records.featuredObjects 4 }}
      <div class="row">
        {{#each this}}
        {{#with data }}
        <div class="col-xs-3">
          <a href="{{ url }}" class="thumbnail">
            <img class="featured-img" src="{{ imgSrc }}" alt="{{ displayName }}" />
          </a>
        </div>
        {{/with}}
        {{/each}}
      </div>
    {{/chunk}}
    </div>
  </div>
</section>
