<div class="jumbotron">
  <div class="container">
    <h3>Hello, Collective Archive!</h3>
  </div>
</div>

<h4>Records: </h4>
<ul>
  {{#each index.records }}
    <li><a href='{{link }}'>{{ name }}</a> </li>
  {{/each}}
</ul>

