{{> _head }}
  <body>
    {{> _upgrade_browser }}
    {{> _nav }}

    <div class='container'>
      {{> _search_results }}
      {{> body}}
    </div>

    {{> _footer }}
    {{> _js }}
  </body>
</html>
