---
scripts:
- /scripts/vendor/jquery.deparam.min.js
- /scripts/vendor/lunr.min.js
- /scripts/vendor/jquery.lunr.search.js

javascript: CA.Search.init();
---

<section>
  <div class="container">
    <div class="row">
      <div id="search-results">
        <div class="entries">
        </div>
      </div>
    </div>
  </div>
</section>
