<div class="jumbotron">
  <h3>Testimonials</h3>
</div>

<div class="tumblr_posts">
  {{#each tumblr_posts.posts }}
    <div class="tumblr_post">
      <div class="tumblr_text">
        {{{body}}}
      </div>
    </div>
  {{/each }}
</div>
