$control-color:   #999;
$carousel-height: 450px;
$carousel-margin: 50px;

.carousel {
  margin-left: auto;
  margin-right: auto;

  width:  100%;
  height: $carousel-height;
}

.carousel-indicators {
  bottom: 0;

  li {
    border-color: $control-color;
  }

  .active {
    background-color: $control-color;
  }
}

.carousel-wrapper {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: $carousel-height;

  text-align: center;
  line-height: $carousel-height - ($carousel-margin / 2);
}

.carousel-inner .item a img {
  display: inline-block;
  vertical-align: middle;
}

.carousel-control {
  &.right {
    background-image: none;
  }

  &.left {
    background-image: none;
  }

  .carousel-arrow {
    color: darken($control-color, 20%);
  }
}
