.artwork-title {
  font-size: 2em;
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

.artist-name {
  margin-bottom: 2em;
  font-size:1.2em;
  color:#333 !important;
  margin-top: 0px;
  font-family: 'Helvetica Neue';
  font-weight:normal;
}

.extra-information {
  margin-top: 2em;
}

.tab-content {
  margin-top: 1.2em;
}
