.tumblr_posts {
  background-color: rgb(238, 238, 238);
}

.tumblr_post {
  float: left;

  width:  290px;
  margin-right: 20px;

  background: #ffffff;
}

.tumblr_text {
  padding: 20px;

  img {
    height: 250px;
    width:  250px;
  }
}
