<div class="jumbotron">
  <div class="container">
    <h1>Hello, Collective Archive!</h1>
  </div>
</div>

<h4>Records: </h4>
<ul>
  <li><a href='/entities/1.html'> Allan Sekula </a> </li>
  <li><a href='/objects/3.html'> Pipe fitters finishing the engine room of a tuna-fishing boat. Campbell Shipyard. San Diego harbor </a> </li>
</ul>

