<h1>{{ displayName }}</h1>

<div class='row'>
  Material: {{ material }}
</div>

<div class='row'>
  Height: {{ measurements.height }}
</div>

<div class='row'>
  Width: {{ measurements.width }}
</div>

<h4>Related:</h4>
{{> _relationships this }}
